.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;

  @media (max-width: 1024px) {
    padding: 0 60px;
  }

  @media (max-width: 768px) {
    padding: 0 32px;
  }

  @media (max-width: 360px) {
    padding: 0 16px;
  }

  &__logo {
    width: 104px;
    height: 26px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../../Util/Images/Logo.svg');

    cursor: pointer;
  }

  &__nav {
    display: flex;
    gap: 10px;
  }
}